/* @import "oxocarbon.css"; */
 /*@import "mocha.css"; */
@import "gruvbox.css";
@define-color critical #ff0000; /* critical color */
@define-color warning #f3f809;  /* warning color */
@define-color fgcolor #ffffff;  /* foreground color */
@define-color bgcolor #303030;  /* background color */
@define-color bgcolor #222436;  /* background color */
@define-color alert   #df3320;

@define-color accent1 #ff7a93;
@define-color accent2 #b9f27c;
@define-color accent3 #ff9e64;
@define-color accent4 #bb9af7;
@define-color accent5 #7da6ff;
@define-color accent6 #0db9d7;
@define-color cream-color #F7F9F2; 
@define-color mate-black #28282B;
@define-color ws-button lightgreen;
* {
      border: none;
    border-radius: 0px;
    font-family: "MesloLGM nerd font mono";
    font-weight: bold;
    font-size: 18px;
    min-height: 10px;
}

window#waybar {

    /*background-color: rgba(34, 36, 54, 0.6);*/
    background-color: @mate-black;
    opacity : .8;
    /* border-bottom: 0px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0px;
    margin: 4px 0 6px 0;
    background-color: transparent;
    color: grey;
    min-width: 36px;
    font-size : 10px;
}

#workspaces button.active {
    padding: 0 0 0 0;
    margin: 4px 0 6px 0;
    background-color: transparent;
    color: @ws-button;
    min-width: 36px;
    /*background-color: #ddddff;*/
    /*color: #303030;*/
}

#workspaces button:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
}

#workspaces button.focused {
    background-color: #bbccdd;
    color: #323232;
}

#workspaces button.urgent {
    color: red;
}

#mode {
    background-color: #64727D;
    border-bottom: 1px solid #ffffff;
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#custom-pacman,
#language {
    padding: 0px 3px;
    margin: 4px 3px 5px 3px;
    color: @fgcolor;
    background-color:transparent;
}
#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	border : 1px solid lightgreen; 
	border-radius : 1em; 
    color: #90ee90;
    padding : 5px ;
}

#battery {
    color: @accent5;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #333333;
    }
}

#battery.critical:not(.charging) {
    background-color: @critical;
    color: @white;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @accent1;
}

#memory {
    color: #86e2d5;
}

#backlight {
    color: @accent2;
}

#network {
    color: @accent3;
}

#network.disconnected {
    color: @alert;
}

#pulseaudio {
    color: @accent4;
}

#pulseaudio.muted {
    color: #a0a0a0;
}

#custom-power {
    	color: @accent6;
}

#custom-waylandvsxorg {
    color: @accent5;
}

#custom-pacman {
    color: @accent2;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: @accent6;
}

#temperature.critical {
    background-color: @critical;
}

#tray {
}

#idle_inhibitor {
    min-width : 1em;
}

#mpd {
    color: #d1e231;
}

#custom-language {
    color: @accent5;
    min-width: 16px;
}

#custom-separator {
    color: #606060;
    margin: 0 1px;
    padding-bottom: 5px;
}

#custom-wmname {
    min-width: 36px;
    font-size: 18px;
    color : cyan;
}

#custom-recorder,
#custom-audiorec {
    color: #c71585;
}
#window {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

window#waybar.kitty {
    background-color: #111111;
    color: #ffffff;
}

window#waybar.chromium {
    background-color: #eeeeee;
    color: #000000;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}
